.searchBar{
    --icon-color:var(--ion-color-tertiary-contrast); 
    --background:var(--ion-color-tertiary);
    --color:var(--ion-color-tertiary-contrast); 
    --placeholder-color:var(--ion-color-tertiary-contrast); 
    --cancel-button-color:var(--ion-color-tertiary-contrast); 
    --border-radius:10px;
}
ion-item{
    --background:var(--ion-color-tertiary);
}
.proximosEventos{
    --background:var(--ion-color-tertiary);
    width: 100%;
    height: auto;
    line-height: 15px;
    box-shadow: none;
}
.proximosEventos ion-card-title{
    font-size: 12px;
    font-family: Comforta-Light;
    letter-spacing: 0.5px;
    color:var(--ion-color-tertiary-contrast);
}
.proximosEventos ion-card-subtitle{
    font-size: 10px;
    color:var(--ion-color-tertiary-shade);
    font-family: Comforta-Light;
}
ion-card-title{
    font-family: Comforta-Bold;
    letter-spacing: -1px;
    color:white;
}
.proximosEventos ion-item-option{
    --background:#33CCCC;
}
#buttomBuscar{
    --background:var(--ion-color-buttom);
    --color:var(--ion-color-text-buttom);
    font-family: Comforta-Light;
    width: 45%;
    font-size: 12px;
}