.content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--ion-color-secondary-contrast);
    flex-direction: column;
}

.content img{
    width:75%;
    // height: 75%;
}
.content h3{
    font-family: Comforta-Bold;
    color:white;
    margin:35px 0;
}