.formDatosEvent ion-item{
    --background:#3C297E; 
    border-radius: 10px;
    
}   
.formDatosEvent ion-label{
    --color:white;
    font-family: Comforta-Light;
}
.formDatosEvent ion-input{
    --padding-start:0;
    font-family: Comforta-Light;
}
.fab-button{
height: 50px;
width: 50px;
border-radius: 50%;
position: absolute;
bottom: 10px;
left: 0;
right: 0;
margin: auto;
font-size: 24px;
background-color: var(--colorSecundario);
ion-icon{
    position: absolute;
    transform: translate(-50%,-50%);
}
}