.formDatosEvent ion-item{
    --background:#3C297E; 
    border-radius: 10px;
    
}   
.formDatosEvent ion-label{
    --color:white;
    font-family: Comforta-Light;
}
.formDatosEvent ion-input{
    --padding-start:0;
    font-family: Comforta-Light;
}