<ion-header>
  <ion-toolbar style="--background:var(--ion-color-primary);">
    <ion-title class="titulo">Validación de entrada</ion-title>
    <!-- <ion-buttons slot="start">
        <ion-back-button style="color:white;" text="" icon="arrow-back-outline" defaultHref="/"></ion-back-button>
    </ion-buttons> -->

    <!-- <ion-button *ngIf="escaneando" (click)="stopScan()"  expand="block" shape="round" style="--color:white;font-family: Comforta-Light;">
      Detener escaneo
    </ion-button> -->
  </ion-toolbar>
</ion-header>
<div style="height: 100%; width: 100%;" id="contentScan">
    <div id="divTop"></div>
    <div class="ion-justify-content-around ion-align-items-end" id="divBottom">
      <ion-fab-button (click)="camera?null:lightControl()" [disabled]="camera?true:false">
        <ion-icon [name]="light?'flash-outline':'flash-off-outline'"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="cameraControl()">
        <ion-icon name="camera-reverse-outline"></ion-icon>
      </ion-fab-button>
    </div>
    <div id="divRight">
      <div id="lineScan">

      </div>
    </div>
    <div id="divLeft"></div>
</div>
