<ion-header>
  <ion-toolbar style="--background:#180B4F;">
    <ion-title class="titulo">Validación de entrada.</ion-title>
    <!-- <ion-buttons slot="start" *ngIf="!escaneando">
        <ion-back-button style="color:white;" text="" icon="arrow-back-outline" defaultHref="/"></ion-back-button>
    </ion-buttons> -->

    <!-- <ion-button *ngIf="escaneando" (click)="stopScan()"  expand="block" shape="round" style="--color:white;font-family: Comforta-Light;">
      Detener escaneo
    </ion-button> -->
  </ion-toolbar>
</ion-header>
<div style="height: 100%; width: 100%;background-color:transparent;">
    <div id="divTop"></div>
    <div id="divBottom"></div>
    <div id="divRight"></div>
    <div id="divLeft"></div>
</div>
