.searchBar{
    --icon-color:var(--ion-color-tertiary-contrast); 
    --background:var(--ion-color-tertiary);
    --color:var(--ion-color-tertiary-contrast); 
    --placeholder-color:var(--ion-color-tertiary-contrast); 
    --cancel-button-color:var(--ion-color-tertiary-contrast); 
    --border-radius:10px;
}
ion-item{
    --background:var(--ion-color-tertiary);
    padding: 2%;
}
.sales{
    --background:var(--ion-color-tertiary);
    width: 100%;
    height: auto;
    line-height: 15px;
    box-shadow: none;
}
.sales ion-card-title{
    font-size: 12px;
    font-family: Comforta-Light;
    letter-spacing: 0.5px;
    margin: 5px;
    color:var(--ion-color-tertiary-contrast)
}
.sales ion-card-subtitle{
    font-size: 10px;
    color:var(--ion-color-tertiary-shade);
    font-family: Comforta-Light;
}
ion-card-title{
    font-family: Comforta-Bold;
    letter-spacing: -1px;
    color:white;
}
.proximosEventos ion-item-option{
    --background:#33CCCC;
}
ion-grid{
    background-color: var(--ion-color-primary);
}
ion-select {
    position: absolute;
   .select-icon, .select-text {
       display: none !important;  /* hidden triangle icon and selected text */
   }
}

