<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-grid fixed class="ion-padding" class="formDatosEvent fadeIn animated">
      <h1 class="titulo ion-margin-bottom">Nuevo Evento<ion-icon slot="start" name="add-outline"></ion-icon>
      </h1>
    <ion-label class="titulo ion-text-center">Colaboradores (cinco máximo)<ion-icon slot="start" name="people-outline"></ion-icon>
    </ion-label>
    <ion-button class="ion-margin" style="--color:var(--ion-color-text-buttom); --background:var(--ion-color-buttom); font-family:Comforta-Light;" (click)="presentModal()" expand="block" fill="solid" shape="round">
      Agregar
    </ion-button>
    <ion-row class="ion-justify-content-center ion-margin-bottom ion-margin-top">
      <ion-col size="12" *ngFor="let col of colaboradores">
        <ion-card class="proximosEventos" style="margin:0;" >
          <ion-item-sliding>
            <ion-item lines="none">
              <ion-avatar class="ion-margin">
                <img [src]="col.photoProfile">
              </ion-avatar>
              <div>
                <ion-card-title class="ion-text-left">{{col.nombre}}</ion-card-title>
                <ion-card-subtitle class="ion-text-left">{{col.correo}}</ion-card-subtitle>
              </div>
            </ion-item>
              <ion-item-options side="end">
                <ion-item-option lines="none" (click)="favorite(item)" style="--background:var(--ion-color-buttom);--color: var(--ion-color-text-buttom);">Eliminar</ion-item-option>
              </ion-item-options>
          </ion-item-sliding>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-label class="titulo">Datos del evento (obligatorios)</ion-label>
      <form [formGroup]="eventForm" (ngSubmit)="saveEvent()" novalidate style="width: 100%;">
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label style="color:var(--ion-color-tertiary-contrast) !important; font-family: Comforta-Light;" position="floating">Nombre
            {{enviado && errrosForm.nombre.errors?.required?'| Requerido':
              enviado && errrosForm.nombre.errors?.minlength?'| Minimo 1 caracter de largo':
              enviado && errrosForm.nombre.errors?.maxlength?'| Máximo 64 caracter de largo':''
            }}
          </ion-label>
          <ion-input formControlName="nombre"  required [maxlength]="64" clear-input style="--color:var(--ion-color-tertiary-contrast);"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label style="color:var(--ion-color-tertiary-contrast) !important; font-family: Comforta-Light;" position="floating">Descripción 
            {{enviado && errrosForm.descripcion.errors?.required?'| Requerido':
              enviado && errrosForm.descripcion.errors?.minlength?'| Minimo 1 caracter':
              enviado && errrosForm.descripcion.errors?.maxlength?'| Máximo 128 caracteres':''
            }}
          </ion-label>
          <ion-textarea formControlName="descripcion" clearOnEdit required [maxlength]="164" style="--color:var(--ion-color-tertiary-contrast);"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label style="color:var(--ion-color-tertiary-contrast) !important; font-family: Comforta-Light;display: flex;align-items: center;" position="floating">
            <ion-icon style="margin-right: 5px;" slot="start" name="cash-outline"></ion-icon>Precio Entrada 
            {{enviado && errrosForm.precioEntrada.errors?.required?'| Requerido':
              enviado && errrosForm.precioEntrada.errors?.min?'| Minimo (0.01)':''
            }}
          </ion-label>
          <ion-input formControlName="precioEntrada" inputmode="decimal" clear-input style="--color:var(--ion-color-tertiary-contrast);"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label style="color:var(--ion-color-tertiary-contrast) !important; font-family: Comforta-Light;" position="floating">Numero Entradas 
            {{enviado && errrosForm.numeroEntradas.errors?.required?'| Requerido':
              enviado && errrosForm.numeroEntradas.errors?.min?'| Minimo(1)':
              enviado && errrosForm.numeroEntradas.errors?.pattern?'| Numero invalido':''
            }}
          </ion-label>
          <ion-input type="text" formControlName="numeroEntradas" inputmode="numeric" clear-input style="--color:var(--ion-color-tertiary-contrast);"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label style="color:var(--ion-color-tertiary-contrast) !important; font-family: Comforta-Light;">Fecha/hora {{enviado && errrosForm.fecha.errors?.required?'| Requerido':''}}</ion-label>
          <ion-datetime formControlName="fecha" cancel-text="Cancelar" doneText="Aceptar" required
            style="--placeholder-color:white;color:white;" [pickerOptions]="customPickerOptions"
            displayFormat="DD/MM/YYYY HH:mm" [min]="actualYear" [max]="2030"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button type="submit" style="--color:var(--ion-color-text-buttom); --background:var(--ion-color-buttom); font-family:Comforta-Light;" expand="block" fill="solid" shape="round">
          Guardar evento
        </ion-button>
      </ion-col>
      <!-- <ion-col size="12">
        <ion-item lines="none">
          <ion-label>Seleccione la hora </ion-label>
          <ion-datetime (ionChange)="time($event)" cancel-text="Cancelar" doneText="Aceptar" required style="--placeholder-color:white;color:white;" [pickerOptions]="customPickerOptions"
            displayFormat="HH:mm " display-timezone="utc"></ion-datetime>
        </ion-item>
      </ion-col> -->
    </form>
    </ion-row>
  </ion-grid>

</ion-content>