<div style="height: 100%; display: flex; justify-content: center; align-items: center;">
  <div class="content">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <ion-grid class="grid fadeIn animated" style="overflow:unset !important;">
      <ion-row>
        <ion-col size="12">
          <h5 class="tituloLogin">AppEvent</h5>
        </ion-col>
      </ion-row>
      <ion-row>        
        <ion-col size="5">
          <ion-segment [value]="register?1:0" class="segments">
            <ion-segment-button value="0" (click)="register=false">
              <ion-label>Login</ion-label>
            </ion-segment-button>
            <ion-segment-button value="1" (click)="register=true">
              <ion-label>Registrarse</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate style="width: 100%;">
        <ion-col size="12" style="margin-top: 15px;" *ngIf="register">
          <ion-item lines="none">
            <ion-label position="floating" style="color:#F84E69 !important; font-family: Comforta-Light;">
              Nombre Usuario {{
                isSubmitted && errorControl.nombre.errors?.required?'| Requerido':
                isSubmitted && errorControl.nombre.errors?.minlength?'| 2 caracteres mínimo':
                isSubmitted && errorControl.nombre.errors?.pattern?'| Invalido':''
              }}
            </ion-label>
            <ion-input formControlName="nombre" clear-input maxlength="35"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" [ngStyle]="{'margin-top': register?'0px':'15px'}">
          <ion-item lines="none">
            <ion-label position="floating" style="color:#F84E69 !important; font-family: Comforta-Light;">
              E-mail {{
                isSubmitted && errorControl.correo.errors?.required?'| Requerido':
                isSubmitted && errorControl.correo.errors?.pattern?'| Invalido':''
              }}
            </ion-label>
            <ion-input  formControlName="correo" clear-input type="email"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="floating" style="color:#F84E69 !important; font-family: Comforta-Light;">
              Contraseña {{
                isSubmitted && errorControl.password.errors?.required?'| Requerida':
                isSubmitted && errorControl.password.errors?.minlength?'| 6 caracteres mínimo':''
              }}
            </ion-label>
            <ion-input (keyup.enter)="onKey()" formControlName="password" enterkeyhint="enter" [type]="showPassword?'text':'password'"></ion-input>
            <ion-icon (click)="showPassword = !showPassword" slot="end" [name]="showPassword?'eye-outline':'eye-off-outline'" style="color: white;" class="ion-align-self-center"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="!register" size="12" class="ion-justify-content-end" style="display: flex;">
          <ion-label class="ion-text-end" style="color:#fe637b;margin-bottom: 15px; font-size: 14px; font-family: Comforta-Light;">Olvide mi
            contraseña</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-button type="submit" class="buttonLogin" expand="block" shape="round">
            {{register?'Registrar':'Ingresar'}}
          </ion-button>
        </ion-col>
      </form>
      </ion-row>
    </ion-grid>
  </div>
</div>
