<!-- <ion-header [translucent]="true">
  <ion-toolbar style="--background:#3B2E80">
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-grid fixed style="padding: 0;" class="fadeIn animated">
    <ion-row>
      <ion-col size="12">
        <h1 class="titulo">Mis Eventos</h1>
      </ion-col>
      <ion-col size="12" style="padding: 0;">
        <ion-slides [options]="slideOptions">
          <ion-slide *ngFor="let event of events;let i =index" [attr.data-index]="i">
            <ion-card [style]="{'--background':''|colorEvent}" class="ion-padding">
                <ion-card-title class="ion-text-left">{{event.nombre}}</ion-card-title>
                <ion-card-subtitle class="ion-text-left ion-padding-top">{{event.descripcion}}</ion-card-subtitle>
              <ion-card-content>
                <ion-label style="color:white;">{{event.fechaEvento |date:'MMM d, yyy'}}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-padding">
      <ion-col size="12">
        <ion-segment value="pizza" style="--background:#2A1972;">
          <ion-segment-button value="pizza">
            <ion-label>Proximos Eventos</ion-label>
          </ion-segment-button>
          <ion-segment-button value="pasta">
            <ion-label>Tus Colaboradores</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-padding-end ion-padding-start">
      <ion-col size="12" *ngFor="let event of (events | orderEventsPerDate)">
        <ion-card class="proximosEventos">
          <ion-item lines="none">
            <ion-avatar class="ion-margin">
              <div class="avatarEvent" [style]="{'background-color': ''|colorEvent}">{{event.nombre[0]}}</div>
            </ion-avatar>
            <div>
              <ion-card-title class="ion-text-left">{{event.nombre}}</ion-card-title>
              <ion-card-subtitle class="ion-text-left">{{event.fechaEvento| date:'MMM d, yyy'}}</ion-card-subtitle>
              <ion-card-subtitle class="ion-text-left">{{event.fechaEvento| date:'HH:mm, yyy'}}</ion-card-subtitle>
            </div>
            <ion-note class="ion-align-self-center" style="--color:white; font-family: Comforta-Light;" slot="end">{{event.numeroEntradas}}</ion-note>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>