$colorPrimary:#4D3BAC;

ion-card{
    width:75%;
    height: 160px;
    margin:0;
    transform: scale(0.9);
    transition: 0.25s;
    box-shadow: none;
}
.swiper-slide-active ion-card{
    transform: scale(1);
}
#skeletonEvents{
    transform: scale(0.9);
    background-color: var(--ion-color-tertiary-shade);
    border-radius: 5px;
}
.swiper-slide-active #skeletonEvents{
    transform: scale(1);
}
ion-card-title{
    font-family: Comforta-Bold;
    letter-spacing: -1px;
    color:white;
}
ion-card-subtitle{
    font-family: Comforta-Light;
    color: white;
}
ion-label{
    font-size: 11px;
    font-family: Comforta-Bold;
}
ion-segment{
    border-radius: 10px;
}
ion-segment-button{
    --indicator-color:var(--ion-color-primary-tint);
    --color-checked:white;
    --color:var(--ion-color-secondary-contrast);
    --padding-top:5px;
    --padding-bottom:5px;
}
ion-item{
    --background:var(--ion-color-tertiary);
}
.proximosEventos{
    --background:var(--ion-color-tertiary);
    width: 100%;
    height: auto;
    line-height: 15px;
}
.proximosEventos ion-card-title{
    font-size: 12px;
    font-family: Comforta-Bold;
    letter-spacing: 0.5px;
    color:var(--ion-color-tertiary-contrast);
}
.proximosEventos ion-card-subtitle{
    font-size: 10px;
    color:var(--ion-color-tertiary-shade);
    font-family: Comforta-Light;
}
.avatarEvent{
    width:40px; 
    height: 40px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: Comforta-Bold;
    color: white;
    font-weight: bold;
}

.rotateCard{
    transform: rotateY(180deg) !important;
}

.rotatedCard{
    display: none;
}

