ion-item{
    --background:transparent;
}
ion-item ion-label h3{
    color:var(--ion-color-tertiary-contrast);
    font-family: Comforta-Bold;
}
ion-item ion-label h4{
    color:#614DCA;
    font-family: Comforta-Light;
}
ion-list{
    background-color: transparent;
}

ion-list ion-list-header{
    color: var(--ion-color-tertiary-contrast);
    font-family: Comforta-Bold;
}
ion-list ion-icon{
    color:var(--ion-color-buttom);
}
ion-list ion-label{
    --color:var(--ion-color-tertiary-contrast);
}