ion-item{
    --background:var(--ion-color-tertiary);
}
.proximosEventos{
    --background:var(--ion-color-tertiary);
    width: 100%;
    height: auto;
    line-height: 15px;
    box-shadow:none;
}
.proximosEventos ion-card-title{
    font-size: 12px;
    font-family: Comforta-Light;
    letter-spacing: 0.5px;
}
.proximosEventos ion-card-subtitle{
    font-size: 10px;
    color:var(--ion-color-tertiary-shade);
    font-family: Comforta-Light;
}
ion-card-title{
    font-family: Comforta-Bold;
    letter-spacing: -1px;
    color:var(--ion-color-tertiary-contrast);
}
.proximosEventos ion-item-option{
    --background:var(--ion-color-buttom);
}