

<ion-content style="--background:#180B4F;" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="getCols($event)" style="z-index:1000;">
    <ion-refresher-content refreshingSpinner="bubbles" refreshingText="Actualizando..."></ion-refresher-content>
  </ion-refresher>
  <ion-header>
    <ion-toolbar style="--background:#180B4F;">
      <ion-title class="titulo">Colaboradores {{mailCol}}</ion-title>
    </ion-toolbar>
    <ion-toolbar style="--background:#180B4F;">
      <ion-searchbar inputmode="email" [(ngModel)]="mailCol" class="searchBar" cancelButtonText="Cerrar"
        placeholder="Buscar Colaborador (E-mail)" type="text" (ionCancel)="closeModal()"
        [debounce]="250" show-cancel-button="always"></ion-searchbar>
      <ion-button id="buttomBuscar" (click)="findUserByCorreo()" expand="block" shape="round">
        Buscar Usuario
      </ion-button>
      <ion-button style="--background:#fe637b;" *ngIf="colaborador.length>0" id="buttomBuscar" (click)="limpiar()" expand="block" shape="round">
        ver colaboradores actuales
      </ion-button>
      <!-- <ion-label>Busca un usuario e invitalo a colaborar a tu evento</ion-label> -->
    </ion-toolbar>
  </ion-header>
 <ion-grid fixed>
   <ion-row *ngIf="colaboradores?.length>0 ||colaborador?.length>0;else emptyCols">
     <ion-label *ngIf="colaborador?.length==0" class="titulo ion-margin ion-text-left">En {{nameEvent}}</ion-label>
     <ion-label *ngIf="colaborador?.length>0" class="titulo ion-margin ion-text-left">Puedes agregar como colaborador a este usuario:</ion-label>
    <ion-col size="12" *ngFor="let col of colaboradores| findColbyMail:mailCol:colaborador;let i = index" [attr.data-index]="i">
      <ion-card class="proximosEventos" style="margin:0;">
        <ion-item-sliding >
          <ion-item lines="none">
            <ion-avatar class="ion-margin">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <div>
              <ion-card-title class="ion-text-left">{{col.nombre}}</ion-card-title>
              <ion-card-subtitle class="ion-text-left">{{col.correo}}</ion-card-subtitle>
            </div>
          </ion-item>
            <ion-item-options side="end" style="border:none">
              <ion-item-option style="--background:#33CCCC;color:white;font-family: Comforta-Light;" (click)="colaborador.length>0?sendInvitation(col):deleteCol(col.correo,i)">{{colaborador.length>0?'Invitar':'Eliminar'}}</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
      </ion-card>
    </ion-col>
   </ion-row>
 </ion-grid>
 <ng-template #emptyCols>
  <img  src="../../assets/empty2.svg" height="50%" width="50%" 
  style="position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  top: 0;">
</ng-template>
</ion-content>
