<ion-header>
  <ion-toolbar style="--background:var(--ion-color-primary);--box-shadow:none;">
    <ion-title class="titulo">Agregar colaborador</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" >
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="findUserByCorreo()" [disabled]="buscando">
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button *ngIf="colaboradoresAdd.length>0" (click)="sendInvitation()" >
        <ion-icon  name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:var(--ion-color-primary);" [fullscreen]="true">
  <ion-refresher #refreshCols slot="fixed" (ionRefresh)="getCols()" style="z-index:1000;">
    <ion-refresher-content refreshingSpinner="bubbles" refreshingText="Actualizando..."></ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed>
    <ion-row >
      <ion-item style="--background:transparent;width: 100%;--highlight-color-valid:var(--ion-color-tertiary-shade);" >
        <ion-icon style="color:var(--ion-color-tertiary-contrast);" name="person-add-outline" slot="start"></ion-icon>
        <ion-textarea enterkeyhint="search" (keyup.enter)="findUserByCorreo()" [(ngModel)]="mailCol" inputmode="email" placeholder="Buscar..." style="--color:var(--ion-color-tertiary-contrast);">
          <ion-chip *ngFor="let col of colaboradoresAdd;let i = index;" style="--color:var(--ion-color-tertiary-shade); --background:var(--ion-chip-color);">
            <ion-label style="--color:var(--ion-chip-text-color);">{{col.nombre}}</ion-label>
            <ion-icon name="close-circle" style="color:var(--ion-color-buttom);" (click)="deleteCol(i)"></ion-icon>
          </ion-chip>
        </ion-textarea>
      </ion-item>
      <ion-col size="12" *ngFor="let col of colaborador;let i = index" [attr.data-index]="i">
        <!-- <ion-label class="ion-margin" style="color: white;">Presiona para agregar.</ion-label> -->
        <ion-card class="proximosEventos" style="margin:0;" (click)="addColaborador(col)">

          <ion-item lines="none">
            <ion-avatar class="ion-margin">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <div>
              <ion-card-title class="ion-text-left">{{col.nombre}}</ion-card-title>
              <ion-card-subtitle class="ion-text-left">{{col.correo}}</ion-card-subtitle>
            </div>
          </ion-item>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="colsAgregados" *ngIf="colaboradores?.length>0">
    <h6>Colaboradores</h6>
    <div class="ion-align-items-center" style="display:flex;" (click)="viewCols()">
      <div id="avatar" class="ion-align-items-center ion-justify-content-center" style="background-color: #2dd36f;">
        S
      </div>
      <div id="symbol" style="margin-right: 15px;"></div>
      <div style="position: relative;display:flex;">
        <div id="avatar" class="ion-align-items-center ion-justify-content-center"
          *ngFor="let col of colaboradores;let i= index;" [attr.data-index]="i"
          [style]="{'background-color':colors[i]}"
          style="margin:0 0 0 -8px !important;">
          {{col.nombre[0]}}
        </div>
      </div>
    </div>
  </div>
  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button [disabled]="colaboradoresAdd.length<=0" (click)="sendInvitation()" style="--background: var(--colorSecundario">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button> -->
  <!-- </ion-fab> -->
  <!-- <ng-template #emptyCols>
    <img src="../../assets/empty2.svg" height="50%" width="50%" style="position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  top: 0;">
  </ng-template> -->
</ion-content>