ion-item{
    --background: var(--ion-color-secondary-contrast);
}
ion-list{
    background-color:var(--ion-color-secondary-contrast)
}
ion-label{
    color:var(--ion-color-secondary-tint);
    font-family: comforta-Bold;
}
ion-item ion-label{
    --color:var(--ion-color-secondary-tint);
    font-family: comforta-Bold;
}