<ion-list>
  <ion-list-header>
    <ion-label>Opciones</ion-label>
  </ion-list-header>
  <ion-item detail (click)="closePopover(1)">
    <ion-label>Vender entrada</ion-label>
    <!-- <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> -->
  </ion-item>
  <ion-item detail (click)="closePopover(2)">
    <ion-label>Entradas vendidas</ion-label>
    <!-- <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> -->
  </ion-item>
  <ion-item detail (click)="closePopover(3)">
    <ion-label>Ver colaboradores</ion-label>
    <!-- <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> -->
  </ion-item>
</ion-list>
