<ion-header class="ion-no-border" style="position: sticky;top:0px;" #headerForgot>
  <ion-toolbar style="--background:#2b2929;height:50px;">
  <ion-icon id="iconSwipe" name="remove-outline"></ion-icon>
  <ion-buttons slot="end" style="margin-top: 15px;">
    <ion-button (click)="sendEmail()" style="--color:#f84e69;">
      <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title class="titulo" style="font-size:18px;margin-top: 15px;color:#f84e69 !important;">Restablecer contraseña.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-padding" class="formDatosEvent" style="overflow: unset;">
    <ion-row>
      <ion-label style="color:#5d5d5d" class="titulo ion-margin">Ingrese el email con el que se registró en AppEvent.</ion-label>
      <form [formGroup]="forgotPassForm" novalidate style="width: 100%;">
      <ion-col size="12">
        <ion-item lines="none" id="item">
          <ion-label position="floating" style="color:#F84E69 !important; font-family: Comforta-Light;">E-mail
            {{
              enviado && errorsForm.email.errors?.pattern?'| Inválido':
              enviado && errorsForm.email.errors?.required?'| Requerido':''
            }}
          </ion-label>
          <ion-input (keyup.enter)="sendEmail()" type="email" formControlName="email" [maxlength]="64" clear-input></ion-input>
        </ion-item>
      </ion-col>
    </form>
    </ion-row>
  </ion-grid>
</ion-content>
