/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
 
 @font-face{
     font-family: "Comforta-Bold";
     src: url('./fonts/Comfortaa-Bold.ttf');
 }
 @font-face{
    font-family: "Comforta-Light";
    src: url('./fonts/Comfortaa-Light.ttf');
}
 .titulo{
     color:var(--ion-color-tertiary-contrast);
     font-family: Comforta-Bold;
 }
 ion-grid{
     max-height: 100%;
     overflow: auto;
 }
 ion-content{
    //  overflow: auto;
     --background: var(--ion-color-primary);
     
 }
 .animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
 @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  .loadingClass {
    --background: var(--ion-color-secondary-contrast);
    --spinner-color: #fff;
    font-family: Comforta-Bold;
    color: #fff;
  }
  .loadingClassLogin{
    --background: #333333;
    --spinner-color: #fe637b;
    font-family: Comforta-Bold;
    color: #fe637b;
  }
  .toastClass{
    --background:#eb445a;
    --color:#fff;
    text-align: center;
    font-family: Comforta-Bold;
  }
  .toastClassOnline{
    --color:white;
    text-align: center;
    font-family: Comforta-Bold;
    --background:#2dd36f;
  }
  .toastClassOffline{
    --color:white;
    text-align: center;
    font-family: Comforta-Bold;
    --background:#eb445a;
  }

  .alertFilterClass{
    --background:#180B4F;
  }

  .hideScrollContent{
    position: absolute;
    top: 0;
  }

  .modalSaleSwipe{
    --height:50vh;
    --width:100%;
    --backdrop-opacity:0.35;
    --border-radius:20px;
    position: absolute;
    bottom:0;
    overflow: hidden;
    --background:var(--ion-color-primary);
  }

  .modalSaleSwipeLogin{
    --height:50vh;
    --width:100%;
    --backdrop-opacity:0.35;
    --border-radius:20px;
    position: absolute;
    bottom:0;
    overflow: hidden;
    --background:#3d3d3d;
  }

  .modalProfileOptions{
    --height:250px;
    --width:250px;
    --background:var(--ion-color-primary);
    --border-radius:20px;
  }
  .buttonClassAlert{
    color:#fff !important;
    font-family: Comforta-Bold;
  }
  .alertClass{
    --background: #7C75A7;
  }
  .alertClass .alert-message{
    color:#fff;
    font-family: Comforta-Light;
  }

  .alertClass .alert-title{
    color:#fff;
    font-family: Comforta-Bold;
  }

  ion-refresher ion-spinner{
    color:var(--ion-color-primary-contrast) !important;
  }
  // .refresher-refreshing-icon ion-spinner{
  //   color:var(--ion-color-primary-contrast);
  // }
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
